:root {
  --titleText: 'Megrim', cursive;
  --fontText: 'Unica One', cursive;
  --starText: 'Codystar', cursive;
}

.navbar {
  height: 100px;
  background-color: rgba(232, 232, 232, .5);
  font-family: var(--fontText);
}

.nav-title {
  
  font-family: var(--titleText);
  padding: 20px;
  text-decoration: none;
  color: whitesmoke;
  vertical-align: middle;
  /* max-width: fit-content; */
  font-size: 70px;
}

.login-home-link {
  float: right;
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
}


.logged-in-links {
  text-decoration: none;
  color: white;
}

.planet-link {
  color: whitesmoke;
  font-size: 20px;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
}

.planet-link:hover {
  color: hotpink;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
