@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Megrim&family=Unica+One&display=swap");

:root {
  --titleText: 'Megrim', cursive;
  --fontText: 'Unica One', cursive;
  --starText: 'Codystar', cursive;
}

body {
  margin: 0;
  font-family: var(--fontText);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/images/ORION_BACKGROUND.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}