:root {
    --titleText: 'Megrim', cursive;
    --fontText: 'Unica One', cursive;
    --starText: 'Codystar', cursive;
}

/* -------------PLANET NAME CARD------------------ */
.planet-name-card {
    margin:auto;
    max-width: 80%;
    padding: 20px;
    background-color: rgba(218, 223, 225, .6);
    margin-top: 100px;
    width: fit-content;
    border-radius: 5px;
}

/* .planet-name-card Body {
    padding: 30px;
} */

.planet-body-type{
    font-size: 16px;
}

.planet-name {
    font-size: 40px;
}


/* -----------------PLANET NOTES(SAVED)------------ */
.userCommentCard {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    
}

.notes-title {
    font-size: 30px;
}

.comment-card-text {
    background-color: rgba(218, 223, 225, .6);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}