:root {
    --titleText: 'Megrim', cursive;
    --fontText: 'Unica One', cursive;
    --starText: 'Codystar', cursive;
}

.navbar {
    height: 100px;
    background-color: rgba(232, 232, 232, .5);
    font-family: var(--fontText);
    text-shadow: 2px 2px 3px #c0392b;
}

.nav-title {
    font-family: var(--titleText);
    padding: 20px;
    text-decoration: none;
    vertical-align: middle;
    transition: 0.3s;
}

.nav-title:hover,
.planet-link:hover,
.login-home-link:hover,
.logged-in-links:hover {
    text-shadow: 5px 5px 8px #cf000f;
}

.login-home-link {
    float: right;
    color: whitesmoke;
    text-decoration: none;
}


.logged-in-links {
    text-decoration: none;
    color: white;
}

.planet-link {
    color: whitesmoke;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

.planet-link:hover {
    color: hotpink;
}