/* :root {
    --titleText: 'Megrim', cursive;
    --fontText: 'Unica One', cursive;
    --starText: 'Codystar', cursive;
}

.navbar {
    height: 100px;
    background-color: rgba(232, 232, 232, .5);
}

.nav-container {
    height: 100px;
    background-color: (108, 122, 137, .7);
    font-family: var(--fontText);

}

.nav-title {
    font-size: 70px;
    font-family: var(--titleText);
    padding: 20px;
    text-decoration: none;
    color: whitesmoke;
    vertical-align: middle;
    max-width: fit-content;
}

.login-home-link {
    float: right;
    color: whitesmoke;
    text-decoration: none;
}


.logged-in-links {
    text-decoration: none;
    color: white;
}

.planet-link {
    color: whitesmoke;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

.planet-link:hover {
    color: hotpink;
} */
